<div class="background" [ngStyle]="{backgroundImage: 'url(' + urlBg + ')'}">
  <div [class.snowflake-1]="toggle"></div>
  <div [class.snowflake-2]="toggle"></div>
  <img class="tree" src="../../../assets/tree/trees/{{tree}}.png" alt="tree-1">
  <ul [class.garland]="lightsToggle" [class.first]="lightsToggle">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul [class.garland]="lightsToggle" [class.second]="lightsToggle">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul [class.garland]="lightsToggle" [class.third]="lightsToggle">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul [class.garland]="lightsToggle" [class.fourth]="lightsToggle">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul [class.garland]="lightsToggle" [class.fifth]="lightsToggle">
    <li></li>
    <li></li>
  </ul>
</div>
