<div class="wrapper">
  <section class="settings">
    <app-settings
    (eFilterWhite)="filterWhite($event)"
    (eFilterBlue)="filterBlue($event)"
    (eFilterRed)="filterRed($event)"
    (eFilterGreen)="filterGreen($event)"
    (eFilterYellow)="filterYellow($event)"
    (eFilterSort)="sort($event)"
    (eFilterReset)="resetFilters($event)"
    (eFilterCheckBig)="checkBig($event)"
    (eFilterCheckMiddle)="checkMiddle($event)"
    (eFilterCheckSmall)="checkSmall($event)"
    (eFilterBell)="checkBell($event)"
    (eFilterBall)="checkBall($event)"
    (eFilterPine)="checkPine($event)"
    (eFilterSnowflake)="checkSnowflake($event)"
    (eFilterBird)="checkBird($event)"
    ></app-settings>
  </section>
  <section class="toy">
    <app-toy
    [cards] = "filterCards"
    ></app-toy>
  </section>
</div>
