
<div class="tree-comp-container">
  <h2>Игрушки</h2>
  <div class="img-container">
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
    <div>
      <span></span>
    </div>
  </div>
</div>
