.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.year {
  color: #fff;
  font-size: 15px;
}

.decorate-link {
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.decorate-link:hover {
  font-size: 16px;
  font-weight: bolder;
  transition: 1s;
  color: #92c2c2;
}
