<div class="main-container">
  <section class="left-container">
    <div class="settings">
      <button (click)="playAudio(audio)">
        <img src="../../assets/tree/svg/music.svg" alt="music" width="30" height="30">
      </button>
      <button (click)="snow()">
        <img src="../../assets/tree/svg/snowflake.svg" alt="snowflake" width="30" height="30">
      </button>
    </div>
    <app-choose-tree
    (eChooseTree)="chooseTree($event)"
    ></app-choose-tree>
    <app-background
    (eChangeBg)="changeBg($event)"
    ></app-background>
    <app-garland
    (eOnGarland)="lights()"
    ></app-garland>
    <button class="reset" (click)="resetSettings($event)">Сброс настроек</button>
  </section>
  <section class="center-container">
    <app-game-area
    [urlBg]="urlBg!"
    [tree]="tree!"
    [toggle]="snowToggle"
    [lightsToggle]="lightsToggle"
    ></app-game-area>
  </section>
  <section class="right-container">
    <app-choose-toy
    [toy]="toys"
    ></app-choose-toy>
    <app-decorated></app-decorated>
  </section>
</div>
