<div class="main-container">
  <section class="left-container">
    <div class="settings">
      <button>
        <img src="../../assets/tree/svg/music.svg" alt="music" width="30" height="30">
      </button>
      <button>
        <img src="../../assets/tree/svg/snowflake.svg" alt="snowflake" width="30" height="30">
      </button>
    </div>
    <app-choose-tree></app-choose-tree>
    <app-background></app-background>
    <app-garland></app-garland>
  </section>
  <section class="center-container">

  </section>
  <section class="right-container">

  </section>
</div>
