<div class="bg-container">
  <h2>Выберите фон</h2>
  <div class="img-container">
    <img src="../../../assets/tree/bg/1.jpg" alt="bg1">
    <img src="../../../assets/tree/bg/2.jpg" alt="bg2">
    <img src="../../../assets/tree/bg/3.jpg" alt="bg3">
    <img src="../../../assets/tree/bg/4.jpg" alt="bg4">
    <img src="../../../assets/tree/bg/5.jpg" alt="bg5">
    <img src="../../../assets/tree/bg/6.jpg" alt="bg6">
    <img src="../../../assets/tree/bg/7.jpg" alt="bg7">
    <img src="../../../assets/tree/bg/7.jpg" alt="bg8">
    <img src="../../../assets/tree/bg/9.jpg" alt="bg9">
    <img src="../../../assets/tree/bg/10.jpg" alt="bg10">
  </div>
</div>
