<div class="tree-comp-container">
  <h2>Выберите фон</h2>
  <div class="img-container">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg1.jpg" alt="bg1">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg2.jpg" alt="bg2">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg3.jpg" alt="bg3">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg4.jpg" alt="bg4">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg5.jpg" alt="bg5">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg6.jpg" alt="bg6">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg7.jpg" alt="bg7">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg8.jpg" alt="bg8">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg9.jpg" alt="bg9">
    <img (click)="changeBg($event)" src="../../../assets/tree/bg/bg10.jpg" alt="bg10">
  </div>
</div>
