<div class="wrapper">
  <h2>Фильтры</h2>
  <div class="container-select">
    <p>Сортировать:</p>
    <select class="select" name="select" (change)="sort(true)">
      <option value="value0" selected="false" disabled="disabled">Отсортировать...</option>
      <option value="value1">По названию от "А" до "Я"</option>
      <option value="value2">По названию от "Я" до "А"</option>
      <option value="value3">По количеству (по возрастанию)</option>
      <option value="value4">По количеству (по убыванию)</option>
    </select>
  </div>
  <div class="container-shape">
    <p>Форма:</p>
    <button><img src="../../../assets/toys/bell.svg" alt="bell" width="30" height="30"></button>
    <button><img src="../../../assets/toys/ball.svg" alt="ball" width="30" height="30"></button>
    <button><img src="../../../assets/toys/pine.svg" alt="pine" width="30" height="30"></button>
    <button><img src="../../../assets/toys/snowflake.svg" alt="snowflake" width="30" height="30"></button>
    <button><img src="../../../assets/toys/bird_toy.svg" alt="bird" width="30" height="30"></button>
  </div>
  <div class="container-color">
    <p>Цвет:</p>
    <button class="white" (click)="filterWhite(true)" (click)="clickedWhite=!clickedWhite" [ngClass]="{active: clickedWhite}"></button>
    <button class="blue" (click)="filterBlue(true)" (click)="clickedBlue=!clickedBlue" [ngClass]="{active: clickedBlue}"></button>
    <button class="red" (click)="filterRed(true)" (click)="clickedRed=!clickedRed" [ngClass]="{active: clickedRed}"></button>
    <button class="green" (click)="filterGreen(true)" (click)="clickedGreen=!clickedGreen" [ngClass]="{active: clickedGreen}"></button>
    <button class="yellow" (click)="filterYellow(true)" (click)="clickedYellow=!clickedYellow" [ngClass]="{active: clickedYellow}"></button>
  </div>
  <div class="container-size">
    <p>Размер:</p>
    <img src="../../../assets/toys/ball.svg" alt="ball" width="40" height="40">
      <input class="checkbox" type="checkbox">
    <img src="../../../assets/toys/ball.svg" alt="ball" width="30" height="30">
      <input class="checkbox" type="checkbox">
    <img src="../../../assets/toys/ball.svg" alt="ball" width="23" height="23">
      <input class="checkbox" type="checkbox">
  </div>
  <div class="container-favorite">
    <p>Только любимые:</p>
    <input class="checkbox" type="checkbox">
  </div>
  <div class="container-amount">
    <p>Количество экземпляров:</p>
    <input type="range">
    <div class="under-range">
      <span>1</span>
      <span>12</span>
    </div>
  </div>
  <div class="container-year">
    <p>Год преобретения:</p>
    <input type="range">
    <div class="under-range">
      <span>1940</span>
      <span>2020</span>
    </div>
  </div>
  <button class="reset" (click)="resetFilters(true)" >Сбросить фильтры</button>
</div>

