.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 340px;
  padding: 10px;
  color: #fff;
  border: solid 1px #92c2c2;
  border-radius: 20px;
  cursor: pointer;

  .star {
    width: 0;
    height: 0;
    border-width: 20px 12px 10px;
    border-style: solid;
    border-color: #fff #fff transparent;
    background: transparent;
    cursor: pointer;
  }

  .active {
    border-color: #92c2c2 #92c2c2 transparent;
  }

  h3 {
    height: 50px;
    font-weight: normal;
    text-align: center;
  }

  img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
    margin: 15px 0;
    text-align: center;
  }

  p {
    font-size: 12px;
  }

  span {
    color: #92c2c2;
  }
}


