<div class="card">
  <button class="star"></button>
  <h3>{{ cards.name }}</h3>
  <img src="https://raw.githubusercontent.com/ivan-nesusanin/stage1-tasks/christmas-task/assets/toys/{{cards.num}}.png" alt="картинка с игрушкой">
  <p>Количество: <span>{{ cards.count }}</span></p>
  <p>Год покупки: <span>{{ cards.year }}</span></p>
  <p>Форма игрушки: <span>{{ cards.shape }}</span></p>
  <p>Цвет игрушки: <span>{{ cards.color }}</span></p>
  <p>Размер игрушки: <span>{{ cards.size }}</span></p>
  <p>Любимая: <span>{{ cards.favorite }}</span></p>
</div>
